@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../src/assets/images/image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
}

.main-container {
  border: 1px solid red;
}
.todo-container {
  border: 1px solid black;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
}
button {
  background-color: #d9977d;
}
